:root {
	--cor-um:     #54a0ff;
	--cor-dois:   #3869FA;
	--cor-tres:   #419AED;
	--cor-quatro: #38CFFA;
	--cor-cinco:  #39FFF6;

	--cor-preto:  #000000;
	--cor-preto-mais-preto:  #202020;
	--cor-preto-menos-preto: #2F2F2F;

	--cor-branco: #FFFFFF;
	--cor-branco-menos-branco: #E0E0E0;
	--cor-branco-mais-branco:  #EFEFEF;
}
* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
body, html {
	background-color: var(--cor-um);
}
.ordem {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	grid-template-columns: auto;
}

.banner {
	display: grid;
	width: 100%;
	background-color: var(--cor-um);
	color: var(--cor-branco);
	font-size: 200%;
}
.h1Banner {
	color: var(--cor-preto-menos);
}

.menuWraper {
	margin: 0 auto;
	color: var(--cor-branco-menos);
	background-color: var(--cor-um);
}
.menu {
	grid-template-rows: auto;
	width: 100%;
	align-content: center;
	justify-content: center;
}
.menuBotao {
	background-color: var(--cor-branco-menos-branco);
	color: var(--cor-preto-menos-preto)
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.menuBotao:hover {
	background-color: var(--cor-preto-menos-preto);
	color: var(--cor-branco-menos-branco)
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.imagems {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	background-color: var(--cor-um);
}

.rodape {
	background-color: var(--cor-preto-mais-preto);
	color: var(--cor-branco-mais-branco);
}
